@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <input type="text" id="fromDateDatePicker" value="@String.Format("{0:dd/MM/yyyy}", DateTime.Now)" />
            <input type="text" id="toDateDatePicker" value="@String.Format("{0:dd/MM/yyyy}", DateTime.Now)" />
            <input type="text" class="form-control" id="keyWord" placeholder="Từ khóa" />
            <button type="button" class="btn btn-default" id="showAllMaterialProposals">Xem tất cả</button>
        </div>
    </div>
</div>
<div class="row">
    <div id="MaterialProposalGrid"></div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function() {

            function startChange() {
                var startDate = from.value(),
                    endDate = to.value();

                if (startDate) {
                    startDate = new Date(startDate);
                    startDate.setDate(startDate.getDate());
                    to.min(startDate);
                } else if (endDate) {
                    from.max(new Date(endDate));
                } else {
                    endDate = new Date();
                    from.max(endDate);
                    to.min(endDate);
                }
                $("#MaterialProposalGrid").data("kendoGrid").dataSource.read();
            }

            function endChange() {
                var toDate = to.value(),
                    fromDate = from.value();

                if (toDate) {
                    toDate = new Date(toDate);
                    toDate.setDate(toDate.getDate());
                    from.max(toDate);
                } else if (fromDate) {
                    to.min(new Date(fromDate));
                } else {
                    toDate = new Date();
                    from.max(toDate);
                    to.min(toDate);
                }
                $("#MaterialProposalGrid").data("kendoGrid").dataSource.read();
            }

            var from = $("#fromDateDatePicker").kendoDatePicker({
                format: "dd/MM/yyyy",
                change: startChange
            }).data("kendoDatePicker");

            var to = $("#toDateDatePicker").kendoDatePicker({
                format: "dd/MM/yyyy",
                change: endChange
            }).data("kendoDatePicker");

            from.max(to.value());
            to.min(from.value());

            var materialProposalDataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/Home/GetMaterialProposal",
                        type: "post"
                    },
                    update: {
                        url: "/Home/AddOrUpdateMaterialProposal",
                        type: "post"
                    },
                    destroy: {
                        url: "/Home/DeleteMaterialProposal",
                        type: "post",
                    },
                    create: {
                        url: "/Home/AddOrUpdateMaterialProposal",
                        type: "post"
                    },
                    parameterMap: function(options, operation) {
                        if (operation !== "read" && options.models) {
                            return {
                                models: kendo.stringify(options.models)
                            };
                        } else {
                            return {
                                fromDate: kendo.toString(from.value(), "yyyy/MM/dd"),
                                toDate: kendo.toString(to.value(), "yyyy/MM/dd"),
                                keyWord: $("#keyWord").val(),
                                skip: options.skip,
                                take: options.take
                            };
                        }
                    }
                },
                batch: true,
                pageSize: 10,
                serverPaging: true,
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { editable: false, nullable: false, defaultValue: "" },
                            Description: { type: "string" },
                            ManagementCode: { type: "string" },
                            ProposalCode: { type: "string" },
                            ProposerUserName: { type: "string" },
                            ImplementerUserName: { type: "string" },
                            Department: { type: "string" },
                            ProgressStatus: { type: "string" },
                            Approved: { type: "boolean" },
                            Finished: { type: "boolean" },
                            Note: { type: "string" }
                        }
                    },
                    total: "total",
                    data: "data"
                }
            });

            $("#MaterialProposalGrid").kendoGrid({
                dataSource: materialProposalDataSource,
                navigatable: true,
                pageable: true,
                groupable: {
                    messages: {
                        empty: "Kéo thả tên cột vào đây để xem theo nhóm."
                    }
                },
                height: 500,
                toolbar: [{ name: "create", text: "Thêm" }, { name: "save", text: "Lưu" }, { name: "cancel", text: "Hủy" }],
                columns: [
                    { field: "ImplementerUserName", title: "Người thực hiện" },
                    { field: "Description", title: "Mô tả" },
                    { field: "ProposerUserName", title: "Người đề nghị" },
                    {
                        field: "Department",
                        title: "Đơn vị đề nghị",
                        template: $("#departmentTemplate").html()
                    },
                    {
                        field: "ProgressStatus",
                        title: "Trạng thái tiến độ",
                        template: $("#departmentTemplate").html()
                    },
                    { field: "Approved", title: "Duyệt" },
                    { field: "Finished", title: "Hoàn thành" },
                    { field: "Note", title: "Ghi chú" },
                    { command: [{ name: "destroy", title: "&nbsp;", width: 70, text: "Xóa" }] }
                ],
                editable: true
            });
        });
    </script>

}
